body {
    background-color: black;
    text-align: center;
}

#result {
    font-size: 25px;
    padding: 25px;
}

#score {
    font-size: 45px;
}

#container {
    color: white;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

#button-container {
    display: flex;
    gap: 30px;
    padding: 15px;
}


.button {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 0px;
}

.reset-button {
    border-radius: 25px;
    border: 0px;
    background-color: white;
    width: 150px;
    height: 45px;
}

.reset-button:hover {
    opacity: 80%;
}
  .img {
    height: 75px;
    width: 75px;
  }

  .img:hover {
    opacity: 50%;
  }

  .game-over-win {
    font-size: 45px;
    color: rgb(0, 188, 182);
  }
  .game-over-loss {
    font-size: 45px;
    color: rgb(255, 82, 82);
  }

  .footer {
    position: fixed;
    bottom: 0;
    margin: 1vh;
    width: 100%;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    bottom: 0;
    opacity: 50%;

}

a {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: white;
}

#logo {
  height: 25px;
  background-color: white;
  border-radius: 20px;
}