body {
    background-color: black;
}
#container {
    
    color: white;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

#buttons {
    display: flex;
    gap: 15px;
    padding: 15px;
}

#result {
    font-size: 24px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }